@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Montserrat+Alternates:wght@400;500;600&display=swap');
*{
    margin:0;
}

a {
    text-decoration:none;
    color: #000000;
}

.mid{
    position: absolute;
    left: 48%;
    top: 780px;
    width: 107px;
    height: 109px;
}

.mid2{
    position: absolute;
    left: 48%;
    top: 1620px;
    width: 107px;
    height: 109px;
}

.space{
    height: 850px;
}

header{
    display: flex;
    background-color: #FFEF5B;
    position: fixed;
    width:100%;
    z-index: 1;
}
header nav{
    position: fixed;
    left: 1280px;
}


.need{
    position: relative;
    top: 10px;
    right: 15px;
}

header p{
    position: fixed;
    width: 287px;
    height: 80px;
    left: 111px;
    color: #7B00C6;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.heady{
    position: absolute;
    width: 455px;
    height: 48px;
    left: 398px;
    top: 170px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
}
.text{
    box-sizing: border-box;

    position: absolute;
    width: 1094px;
    height: 448px;
    left: 336px;
    top: 218px;

    background: #FFEF5B;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;

    padding-top: 9%;
    padding-left: 10%;
}
.p_text{ 
    padding: 1%;
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
}

.img1{
    position: absolute;
    width: 33px;
    height: 33px;
    left: 450px;
    top: 367px;
}

.img2{
    position: absolute;
    width: 33px;
    height: 33px;
    left: 450px;
    top: 427px;
}

.img3{
    position: absolute;
    width: 33px;
    height: 33px;
    left: 450px;
    top: 485px;
}

main img{
    position: absolute;
    top: 119px;
}

.png1{
    width: 1000px;
    height: 752px;
    left: -70px;
    top: 900px; 
}

.png2{
    width: 240px;
    height: 240px;
    left: 914px;
    top: 1020px;
}

.png3{
    width: 240px;
    height: 240px;
    left: 1114px;
    top: 1280px;
}

#first p{
    position: absolute;
    width: 742px;
    height: 49px;
    left: 349px;
    top: 950px;
    
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
}

.zagol{
    position: absolute;
    width: 674px;
    height: 49px;
    left: 383px;
    top: 1800px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
}

.ban2{
    position: absolute;
    width: 543px;
    height: 263px;
    left: 765px;
    top: 2200px;
    border: 17px solid #003686;
}

.ban1{
    position: absolute;
    width: 543px;
    height: 263px;
    left: 65px;
    top: 1871px;
    border: 17px solid #4B0086;
}

.date{
    position: absolute;
    width: 674px;
    height: 98px;
    left: 700px;
    top: 1940px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;

    background-color: #B04DFF;
    border: 17px solid #B04DFF;
}

.stick1{
    position: absolute;
    width: 117px;
    height: 119px;
    left: 5px;
    top: 1792px;
}

.stick2{
    position: absolute;
    width: 138px;
    height: 148px;
    left: 1260px;
    top: 2105px;
}
.star{
    position: absolute;
    left: 60px;
    top: 2180px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 59px;
    padding-left: 0%;
}

.sname{ 
    padding: 40px 0;
}

.star1{
    position: absolute;
    height: 50px;
    left: 90px;
    top: 2220px;
}

.star2{
    position: absolute;
    height: 50px;
    left: 90px;
    top: 2360px;
}

.icons_row1{
    position: absolute;
    left: 150px;
    top: 2070px;

}

.picA{
    position: absolute;
    height: 130px;
    left: 120px;
}
.picY{
    position: absolute;
    height: 130px;
}

.icons_row2{
    position: absolute;
    left: 150px;
    top: 2210px;

}

.picL{
    position: absolute;
    height: 130px;
}

.picT{
    position: absolute;
    left: 120px;
    height: 130px;
}

.picH{
    position: absolute;
    left: 240px;
    height: 130px;
}
